nav {
    backdrop-filter: blur(20px) !important;
}
.navbar-container {
    background: var(--primary-color);
    box-shadow: 0 0px 3px var(--secondary-color);
}
.cart-icon span { top: 10px; left: 40px; height: 23px; width: 23px; }
/* Header navigations */
.nav-link {
    color: white !important;
    font-weight: 500;
    padding: 0.375rem 15px !important;
    border-radius: 15px !important;
    transition: 0.4s ease;
}
.nav-link:hover, .nav-link.active {
    background-color: var(--secondary-color) !important;
}
/* Side Navigation */
.sideNav {
    transform: translateY(0); width: 250px; height: fit-content !important;
    top: 85px !important; right: 20px !important;
    border-radius: 15px;
    z-index: 9999 !important;
    background: var(--primary-color) !important;
    box-shadow: 0 0 4px var(--primary-color);
}
.sideNav ul,
.side-header {
    width: 90% !important;
}
.call-btn, 
.mobile-call-btn {
    background: rgb(248, 249, 250) !important; 
    color: var(--primary-color);
    padding: 0.5rem 1rem; border-radius: 20px !important;
    font-weight: 500 !important;
    display: flex; align-items: center; justify-content: center;
    gap: 0.5rem; text-decoration: none;
}

@media screen and (max-width: 767px) {
    .call-btn {
        display: none !important; 
    }
}
@media screen and (min-width: 767px) {
    .nav-control {
        display: none !important;
    }
    .sideNav {
        display: none !important;
    }
}


