.contact-page h5 {
    font-family: 'Glory', sans-serif; font-size: 23px !important;
    color: var(--accent-color);
    text-shadow: 0 1px 1px var(--primary-color);
}
.location-container,
.appointment-container,
.support-container {
    max-width: 800px;
    padding: 1rem 1.2rem; border-radius: 0.5rem;
}
.location-container {
    background: var(--background-color);
}
.location-container p {
    color: var(--text-color);
    font-size: 1.1rem;
    font-family: 'Glory', serif;
}
.location-container .hours {
    color: var(--primary-color);
    font-size: 1rem; font-weight: 450;
    font-family: 'roboto', serif;
}
.contact-locations h6 {
    font-weight: 500;
    font-size: 1.1rem;
    font-family: 'Exo', serif;
    margin-bottom: 0.5rem !important;
}
.contact-details ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 5px;
}
.contact-details li {
    color: var(--text-color);
    font-size: 1.1rem;
    font-family: 'Glory', serif;
}
.contact-details li a {
    color: var(--primary-color);
    text-decoration: none;
}
.contact-details li a:hover {
    text-decoration: underline;
}
.support-container {
    background-color: var(--light-bg);
    font-family: "Roboto", serif;
}
.appointment-container {
    background: var(--light-bg);
}
.appointment-container .caution {
    background: var(--background-color); color: var(--text-color);
    font-size: 1rem; padding: 0.6rem 10px;
    border-left: 2px solid red;
    font-family: 'Glory', serif; 
}
.appointment-container .caution span {
    color: var(--primary-color);
    font-weight: 650;
}
#appointment,
#support {
    scroll-margin-top: var(--header-height);
}