.banner {
    background: url(../assets/banner-background.webp) no-repeat center !important;
    width: 100%;
    min-height: fit-content;
}
.content-container {
    background: rgba(20, 102, 45, 0.808); color: var(--white-color);
    height: 100% !important; width: 100%;
    padding: 50px 0;
}
.banner-content {
    width: 90%;
}
.banner-content h1 {
    font-size: 2rem; font-weight: 800;
    line-height: 1.2;
    letter-spacing: 1px;
    font-family: "Exo";
}
.description {
    font-size: 1.1rem;
    line-height: 1.6;
    opacity: 0.9;
    font-family: "Glory" !important;
}
.cta-buttons {
    text-wrap: nowrap;
}
.cta-buttons a {
    display: inline-block;
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 15px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.2s ease;
}
.cta-buttons a:hover {
    transform: scale(1.03);
}
.learn-btn {
    background-color: transparent !important;
    color: var(--white-color) !important;
    border: 2px solid var(--white-color) !important;
    padding: 13px 20px !important;
}
/* PILLARS */
.pillars-container > div {
    width: 80%;
    padding: 50px 0;
    display: flex; flex-direction: column;
}
@media screen and (min-width: 768px) {
    .pillars-container > div {
        width: 90%;
        gap: 10px !important;
    }
}
.pillars-container > div > div {
    text-align: center;
    display: flex; flex-direction: column; align-items: center !important;
    background-color: #fafaf9;
    padding: 40px 20px 20px; border-radius: 30px;
    box-shadow: 1px 1px 1px 2px var(--secondary-color);
}
.pillar-icon {
    margin-top: -60px;
    height: 40px; width: 40px; border-radius: 50%;
    background: var(--white-color);
    box-shadow: 1px 3px 4px #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heart-pillar {
    background: rgb(219, 219, 94);
    color: red !important;
}
.leaf-pillar {
    background: #88cf15;
    color: green !important;
}
.handshake-pillar {
    background: #407e69;
    color: aqua !important;
}
.pillars-container h6 {
    margin-top: 20px;
    text-decoration: underline;
    font-family: 'Exo';
    font-weight: 700;
}
.pillars-container p {
    font-family: 'Glory';
    font-size: 18px;
}
/* Home */
.home {
    flex: 1;
    background-color: var(--secondary-color);
    color: white;
    padding: 40px 40px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    max-height: 570px;
}
.home h1 {
    font-size: 2rem;
    line-height: 1.2;
    font-family: "Exo";
    margin-bottom: 20px !important;
    letter-spacing: 1px;
}
.home h6 {
    font-weight: 700;
    font-family: 'Exo';
    text-decoration: underline;
}
.key-note {
    font-family: 'Exo', sans-serif;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}
.key-note span {
    background: var(--primary-color); color: var(--checkmark-color);
    padding: 4px 10px;
    border-radius: 50%;
    font-weight: bold;
    margin-right: 10px;
    font-size: 16px;
}
.home .about-btn {
    color: var(--white-color);
    padding: 8px 20px; border: 2px solid var(--white-color);
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s background ease;
}
.home .about-btn:hover {
    background: var(--primary-color);
    border: 2px solid var(--primary-color) !important;
}
.contact-btn {
    background: var(--primary-color);
    color: var(--white-color);
    padding: 8px 20px; border: 2px solid var(--primary-color);
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s background ease;
}
.home .contact-btn:hover {
    background: transparent;
    padding: 8px 20px; border: 2px solid var(--white-color);
}
.banner-image {
    flex: 1;
    min-width: 320px;
    max-height: 570px;
    overflow: hidden;
}
.banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
 /* Product */
 .product-section {
    scroll-margin-top: 80px;
 }
 .product-container {
    background: var(--background-color);
    scrollbar-width: none;
 }
/* Service */
.service-section {
    background: linear-gradient(to bottom, var(--secondary-color) 5%, var(--background-color) 100%);
    color: var(--white-color);
}
.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}
.services {
    font-family: 'Exo', sans-serif;
    font-size: 15px;
    background-color: var(--white-color); color: var(--text-color);
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 1px 3px var(--text-color);
    border-radius: 15px;
}
.services span {
    color: var(--checkmark-color);
    font-weight: bold;
    padding: 0 10px;
    font-size: 18px;
}
/* Contact */
.contact-section {
    background: rgba(20, 102, 45, 0.808); color: var(--white-color);
}
.whatsapp-btn {
    background: var(--whatsapp-green);
}
/* Responsive adjustment for mobile */
@media (max-width: 600px) {
    .services-container {
        grid-template-columns: 1fr !important; 
        padding: 0 50px;
    }
}
